/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--complex-background);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--font-weight-text);
}

/* Шапка */
.header {
  width: var(--header-width);
  margin: 100px auto;
  padding-block-start: var(--header-padding);
  padding-block-end: var(--header-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  border: 2px solid var(--accent-color);
  background-color: var(--main-color);
}

/* Логотип */
.header__logo {
  font-size: var(--logo-size);
  font-family: var(--font-accent);
}

/* Заголовок */
.header__title {
  font-size: var(--title-size);
  font-family: var(--font-accent);
  text-transform: uppercase;
}

/* Контент */
.main {
  width: var(--content-width);
  margin: 0 auto;
}

.cards__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
}

.card__title {
  font-family: var(--font-primary);
  font-style: normal;
  font-variation-settings: 'wght' var(--font-weight-title);
  font-size: 18px;
  line-height: 22px;
  color: var(--accent-color);
  padding: 3px 10px 5px 10px;
  border: 2px solid var(--accent-color);
  border-bottom: none;
}

.card__image-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--accent-color);
}

.card__image {
  width: 100%;
  display: block;
  object-fit: cover;
}

.card__label {
  position: absolute;
  top: 27px;
  right: 25px;
  font-family: var(--font-accent);
  font-size: 14px;
  font-style: normal;
  line-height: 14px;
  color: var(--accent-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: 
    -0.5px -0.5px 0 var(--stroke-color),
     0.5px -0.5px 0 var(--stroke-color),
    -0.5px  0.5px 0 var(--stroke-color),
     0.5px  0.5px 0 var(--stroke-color);
}

@supports ((text-stroke: 0.5px var(--stroke-color)) or (-webkit-text-stroke: 0.5px var(--stroke-color))) {
  .card__label {
    -webkit-text-stroke: 0.5px var(--stroke-color);
    text-stroke: 0.5px var(--stroke-color);
    text-shadow: none;
  }
}

.content {
  border: 2px solid var(--accent-color);
  border-top: none;
  padding: 25px;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: var(--font-weight-text);
  font-size: 18px;
  line-height: 21px;
  color: var(--accent-color);
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-block-start: 25px;
  gap: 7px;
}

.card__icon-button {
  background: none;
  height: 39px;
  padding: 0;
  border: 2px solid transparent;
}

.card__icon-button svg {
  display: block;
}

.card__like-button {
  padding: 10.5px 0;
  width: 130px;
}

.button_style {
  border: 2px solid var(--accent-color);
  background-color: var(--main-color);
  font-family: var(--font-accent);
  font-size: 14px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.button__text {
  margin: 0;
  color: var(--main-color);
  mix-blend-mode: difference;
  display: block;
  position: relative;
  z-index: 1;
}

.cards {
  margin-bottom: 50px;
}

.save {
  display: flex;
  align-items: center;
  justify-content: center;
}

.save__button {
  display: flex;
  align-items: center;
  padding: 15px 19px;
  margin-bottom: 103px;
}

.save__button svg {
  margin-right: 8px;
  width: 21px;
  height: 21px;
  position: relative;
  color: var(--main-color);
  mix-blend-mode: difference;
  z-index: 1;
}

#dialog-id[open] {
  border: 2px solid var(--accent-color);
  background-color: var(--main-color);
  padding: 28px;
}

#dialog-id::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.form svg {
  width: 39px;
  height: 39px;
}

.form_button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10.5px 0px;
  width: 100%;
}

.form_text {
  display: block;
  max-width: 234px;
  white-space: normal;
  word-wrap: break-word;
  font-family: var(--font-accent);
  font-style: normal;
  font-weight: var(--font-weight-text);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--accent-color);
}

.dialog-columns {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  text-align: left;
}

@media (width <= 375px) {
  .header {
    width: 100%;
  }

  .main {
    width: 100%;
  }

  .save__button {
    margin-bottom: 100px;
    flex-direction: column;
  }

  .save__button svg {
    width: 28px;
    height: 28px;
    margin-bottom: 8px;
    margin-right: 0px;
  }

  .form_text {
    max-width: 198px;
  }

  #dialog-id {
    padding: 30px 38px;
  }

  .card__label {
    top: 24px;
    right: 11px;
  }
}

.filter__sadness {
  filter: saturate(25%) contrast(90%);
}

.filter__acid {
  filter: saturate(400%);
}

.filter__pirple {
  filter: brightness(110%) hue-rotate(22deg);
}

.filter__negative {
  filter: invert(80%);
}

.filter__retro {
  filter: sepia(90%);
}

.filter__blur {
  filter: blur(1.2em);
}

.filter__pink {
  filter: hue-rotate(275deg) invert(70%) saturate(170%) blur(0.1em);
}

.button_style:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.button_style::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.button_style:hover::before {
  transform: scaleX(1);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
  transition: border 0.3s ease;
}

