/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /* Шрифты */
  --font-primary: 'Inter', sans-serif;
  --font-accent: 'Press Start 2P', monospace;

  /* Толщина шрифта */
  --font-weight-text: 400; /* Основной текст */
  --font-weight-title: 700; /* Заголовки */
  
  --header-width: clamp(375px, 90%, 700px);
  --content-width: clamp(375px, 90%, 700px);
  --logo-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --title-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --header-padding: clamp(7.5rem, 1.322vw + 7.19rem, 8rem);
  --stroke-color: #fff;
  --complex-background: 
    repeating-linear-gradient(to right,#d3d3d3 0,#d3d3d3 2px,transparent 2px,transparent 4px),
    repeating-linear-gradient(to bottom,#d3d3d3 0,#d3d3d3 2px,transparent 2px,transparent 4px),
    linear-gradient(to bottom,#e7e7e7 0.01%,#1a1a1a 100%);
  --main-color: #fff;
  --accent-color: #000;
  --contour-color: #000;
  --animation-fill-color: red;
}



